<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Musify</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <script src="../static/js/vendor/jquery-1.11.2.min.js"></script>

        <script src="https://tonejs.github.io/build/Tone.min.js"></script>
        <link rel="stylesheet" href="../static/css/iconfont.css">
        <link rel="stylesheet" href="../static/fonts/stylesheet.css">
        <link rel="stylesheet" href="../static/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/jquery.fancybox.css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/magnific-popup.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <!--        <link rel="stylesheet" href="../static/css/bootstrap-theme.min.css">-->


        <!--For Plugins external css-->
        <link rel="stylesheet" href="../static/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="../static/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="../static/css/responsive.css" />

        <script src="../static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <script src="../static/js/sheet-music.js"></script>
        <script src="https://unpkg.com/vexflow/releases/vexflow-debug.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">

                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">HOME</a></li>
                                                <li><a href="#service">Musify</a></li>
                                                <li><a href="#contact">CONTACT</a></li>


                                                <li>
                                                    <a href="#"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <span class="glyphicon glyphicon-search"></span></a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <form class="navbar-form" role="search">
                                                                <div class="form-group">
                                                                    <input type="text" class="form-control" placeholder="Search">
                                                                </div>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->





            <section id="home" class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h1>WELCOME TO MUSIFY</h1>
                                            <p>We Make music easy to learn</p>
                                            <div class="home_btn">
                                                <a href="#service" class="btn btn-primary">Get started</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="single_home_slider">

                                    </div>
                                    <div class="single_home_slider">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="service" class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_service_area">
                                <div class="main_service_content">
                                    <div class="service_tabe">
                                        <!-- Nav tabs -->


                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="webdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>Have a song you want to learn how to play?</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>Just submit the mp3 or wav file with your choice of song and input it into our propeitary algorithms which will decipher your favourite music into beautiful music notes.
                                                             </p>
                                                                <form>
                                                                    <input type="file" id="song"></input>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <div class="single_tab_img">
                                                                <img id="hide_on_load" src="../static/images/stab1.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                      <div id="song-wrapper" class="col-sm-12">
                                                        <h2 id="song-title">Twinkle Twinkle Little Star</h2>
                                                        <div id="song-info">
                                                          <div class="col-sm-4">
                                                            <div style="text-align:center">
                                                              <i class="song-icons fas fa-stopwatch"></i>
                                                              <h3 id="bpm" class="options"></h3>
                                                            </div>
                                                          </div>
                                                          <div class="col-sm-4">
                                                            <div style="text-align:center">
                                                              <i class="song-icons fas fa-music"></i>
                                                              <h3 id="key" class="options"></h3>
                                                            </div>
                                                          </div>
                                                          <div class="col-sm-4">
                                                            <div style="text-align:center">
                                                              <i class="song-icons fas fa-play"></i>
                                                              <a id="play-song"><h3 class="options">Play</h3></a>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div id="sheet_music"></div>
                                                      </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about" class="about">
                <div class="container">
                    <div class="row">

                        <div class="main_about_area sections">
                            <div class="col-sm-12">

                                <div class="main_about_content">
                                    <div class="row">

                                        <div class="col-sm-7 wow fadeInRight" data-wow-duration="700ms">
                                            <div class="single_about_right_content">
                                                <div class="head_title">
                                                    <h3>ABOUT MUSIFY</h3>
                                                    <div class="separator"></div>
                                                </div>

                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <div class="ab_border_right"></div>
                                                        <i class="fa fa-coffee"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>RESPONSIVE DESIGN</h3>
                                                       <p> This has been designed to optimize the customer experience</p>
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">

                                                        <i class="fa fa-paint-brush"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>EASY TO USE</h3>
                                                        <p>Just upload your music file and click run</p>
                                                    </div>
                                                </div>
                                                <div class="single_about">
                                                    <div class="single_ab_icon">
                                                        <i class="fa fa-headphones"></i>
                                                    </div>
                                                    <div class="single_ab_text">
                                                        <h3>Free and Open source</h3>
                                                        <p>We work hard to keep this free and make sure you have easy access to it even if you would like to use it in a project you are working on</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>


            <section id="team" class="team">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_team sections">
                                <div class="row">
                                    <div id="team-title" class="head_title">
                                        <h3>Team</h3>
                                        <div class="separator"></div>
                                    </div>
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_team_content">
                                            <div class="single_team_img">
                                                <img src="../static/images/team1.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text_overlay">
                                                <h4>Vishv Patel</h4>
                                                <p>DEVELOPER</p>
                                                <div class="team_overlay_socail">
                                                    <a href=""><i class="fa fa-facebook"></i></a>
                                                    <a href=""><i class="fa fa-twitter"></i></a>
                                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_team_content">
                                            <div class="single_team_img">
                                                <img src="../static/images/team2.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text_overlay">
                                                <h4>Ryan Min</h4>
                                                <p>DEVELOPER</p>
                                                <div class="team_overlay_socail">
                                                    <a href=""><i class="fa fa-facebook"></i></a>
                                                    <a href=""><i class="fa fa-twitter"></i></a>
                                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_team_content">
                                            <div class="single_team_img">
                                                <img src="../static/images/team3.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text_overlay">
                                                <h4>Abhinav Chanda</h4>
                                                <p>DEVELOPER</p>
                                                <div class="team_overlay_socail">
                                                    <a href=""><i class="fa fa-facebook"></i></a>
                                                    <a href=""><i class="fa fa-twitter"></i></a>
                                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                                    <a href=""><i class="fa fa-pinterest-p"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div><!-- End of main team contant -->
                        </div>
                    </div><!-- End of row -->
                </div>
            </section>






            <section id="footer" class="footer_widget">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="main_widget">
                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <div class="footer_logo">
                                                    <img src="../static/images/logo.png" alt="" />
                                                </div>
                                                <p>We hope that you enjoy using musify!</p>

                                            </div>
                                        </div>

                                        <div class="col-sm-3  col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                <div class="footer_title">
                                                    <h4>SITEMAP</h4>
                                                    <div class="separator"></div>
                                                </div>
                                                <ul>
                                                    <li><a href="">Services</a></li>
                                                    <li><a href="">About Us</a></li>
                                                    <li><a href="">Our Team</a></li>
                                                    <li><a href="">Portfolio</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-sm-3  col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                <div class="footer_title">
                                                    <h4>ACHIVES</h4>
                                                    <div class="separator"></div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-sm-3 col-xs-12">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                <div class="footer_title">
                                                    <h4>NEWSLETTER</h4>
                                                    <div class="separator"></div>
                                                </div>

                                                <div class="footer_subcribs_area">
                                                    <p>Sign up for our mailing list to get latest updates and offers.</p>
                                                    <form class="navbar-form navbar-left" role="search">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Search">
                                                            <button type="submit" class="submit_btn"></button>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_footer">
                                <div class="row">

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="copyright_text">
                                            <p class=" wow fadeInRight" data-wow-duration="1s">Made with <i class="fa fa-heart"></i> by <a href="http://bootstrapthemes.co">Bootstrap Themes</a>2016. All Rights Reserved</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="flowus">
                                            <a href=""><i class="fa fa-facebook"></i></a>
                                            <a href=""><i class="fa fa-twitter"></i></a>
                                            <a href=""><i class="fa fa-google-plus"></i></a>
                                            <a href=""><i class="fa fa-instagram"></i></a>
                                            <a href=""><i class="fa fa-youtube"></i></a>
                                            <a href=""><i class="fa fa-dribbble"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="../static/js/vendor/bootstrap.min.js"></script>

        <script src="../static/js/jquery.magnific-popup.js"></script>
        <script src="../static/js/jquery.mixitup.min.js"></script>
        <script src="../static/js/jquery.easing.1.3.js"></script>
        <script src="../static/js/jquery.masonry.min.js"></script>
        <script src="../static/js/jquery.fancybox.pack.js"></script>




        <script src="../static/js/plugins.js"></script>
        <script src="../static/js/main.js"></script>

    </body>
</html>
